$color: #2BC7A8;
$white : #fff;
body {
    margin: 0;
    font-family: 'VT323', monospace;
    background-color: #000;
}
.section-header{
    position: relative;
    top: -20px;
}
select {
    width: 120px;
    height: 30px;
    border-color: $color;
    border-radius: 7px;


}
header{
    width: 100%;
    height: 100px;
    background-color: $color;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2{ color:$white;}
h1{
    text-align: center;
    top: 30;
    position: relative;
}
div.col #myCanvas{
    position: absolute;
    right: -8%;
    top: -100px;

    
}
div.jokes-view {
    position: absolute;
    right: 70px;
    top: 32%;
    width: 37%;
    color: $white;
}
.fighter-image-one { //naruto
    position: relative;
    margin-left:270px;
    bottom: -5px;
}
.fighter-image-two{ //sasuke
    position: relative;
    bottom: -8px;
}
.fighter-image-three{ //kakashi
    position: relative;
    bottom: -14px;
    width: 120px;
}
.row > div.col {
    display: inline;
}
div.col > img {
    width: 100px;
}
.gif-section{
    margin-top: 160px;
    border-bottom: 1px solid white;
}
body:hover .tree, body:hover .tree-two, body:hover .tree-one {
    animation: movingGIF 3000ms infinite linear;
}
.tree {
    width: 150px;
    z-index: -1;
    position: relative;
    bottom: -5px;
    right: -150%;
}
.row.row-selection-style{
    width: 40%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.tree-one{
    width: 76px;
    bottom: -12px;
    z-index: -1;
    position: relative;
    right: -130%;
}
.tree-two{
    width: 128px;
    bottom: -9px;
    position: relative;
    z-index: -1;
    right: -1114px;
}
div.row.animation-row{
    overflow: hidden;
}

@keyframes movingGIF{
    100%{
        transform: translateX(-2400px)
    }
}
@media only screen and (max-width: 890px){
    #myCanvas{
        width: 315px !important;
        height: 600px !important;
        right: 15px;
    }
}
@media only screen and (max-device-width : 375px){
    .jokes-view {
        top: 10% !important;
        width: 50% !important;}
    .tree{
        right: -160% !important;
    }
    .tree-one{
        right: -133% !important;
    }
    .tree-two{
        right: -1000px !important;
    }

} 
@media only screen and (max-device-width : 375px) and (max-device-width: 414px) and (max-device-width : 360px) and (max-device-width : 411px) and (max-device-width : 768px) and (max-device-width : 1024px){
    .jokes-view {
        top: 10% !important;
        width: 50% !important;}
    .tree{
        right: -160% !important;}
    .tree-one{
        right: -133% !important;}
    .tree-two{
        right: -1000px !important;}
}
@media only screen and (max-device-width: 414px) {
    .jokes-view {
        top: 10% !important;
        width: 50% !important;}
    .tree{
        right: -160% !important;}
    .tree-one{
        right: -133% !important;}
    .tree-two{
        right: -1000px !important;}
}
@media only screen and (max-device-width : 360px) {
    .jokes-view {
        top: 10% !important;
        width: 50% !important;}
    .tree{
        right: -160% !important;}
    .tree-one{
        right: -133% !important;}
    .tree-two{
        right: -1000px !important;}
}
@media only screen and (max-device-width : 411px) {
    .jokes-view {
        top: 10% !important;
        width: 50% !important;}
    .tree{
        right: -160% !important;}
    .tree-one{
        right: -133% !important;}
    .tree-two{
        right: -1000px !important;}
}
@media only screen and (max-device-width : 768px) {
    .jokes-view {
        top: 10% !important;
        width: 50% !important;}
    .tree{
        right: -160% !important;}
    .tree-one{
        right: -133% !important;}
    .tree-two{
        right: -1000px !important;}
}
@media only screen and (max-device-width : 1024px){
    .jokes-view {
        top: 13% !important;
        width: 50% !important;}
    .tree{
        right: -160% !important;}
    .tree-one{
        right: -133% !important;}
    .tree-two{
        right: -1000px !important;}
}